@model Rainbowcat_web.Models.Class1

@*
    // 註解：請問 model與 Model兩個字（除了大小寫不同）有何差異？？
    // @Model is "a property of the view" that refers to the model that was passed to the view from the controller.
    // This property is strongly typed based on the data type specified in the @model directive at the top of the view.
    // ***  @model occurs "only once" and specifies the "data type" of the model.
    // ***  @Model allows you to reference "the value for the model" passed to the view.
*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index11Create - 搭配 Class1，做出新增（Create）的檢視畫面</title>
</head>
<body>
    @using (Html.BeginForm("Index11Create", "HomeController", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
                // 避免CSRF攻擊！！


        <font color="blue">
            <h4>Class1 ...... #1</h4> 搭配 Class1，做出新增（Create）的檢視畫面。<br />本畫面經過簡化，並非原始產出的檢視畫面。
        </font>
        <hr />
        <b>** 屬性名稱 **：</b>
        <br />
        @Html.LabelFor(m => m.UserName)
        <br />

        @*
    @Html.DisplayNameFor(m => m.UserName)<br />
    *@

        <br />

        <b>** 屬性的「值」 **：</b>
        <br />
        @Html.EditorFor(m => m.UserName)
        <br />

        @*
    @Html.TextBoxFor(m => m.UserName)<br />
    *@

        <br />
        <br />
        <input type="submit" value="Create" />
    }

</body>
</html>
